/*list of links; no bullet points*/
ul {
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}

table,
th,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 7px;
}

/* Adding height to the first row */
th {
    height: 30px;
    text-align: left;
    /* Adjust this value as needed */
}

table {
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-bottom: 25px;
}

p,
#index,
input {
    margin-left: 20px;
}

th {
    font-weight: lighter;
}

/* Class for the columns */
.first-column,
.second-column {
    white-space: nowrap;
    /* Ensures the text doesn't wrap */
    width: 1px;
    /* Sets a minimal width */
}
input {
    margin-bottom: 16px;
}